# Ignore everything
*

# But do not Ignore these files...
!.gitignore


!src
!src/**

!banner
!banner/**

!resources
!resources/**

!documents-and-deliverables
!documents-and-deliverables/**

!WebContent
!WebContent/**

!libs
!libs/**

!icon/
!icon/**

!*.txt
!*.md
!*.jpg
!*.png
!*.html


# MAC HIDDEN FILES
.DS_Store


#Additional Specific files to Ignore
src/models/config.cfg
!WebContent/lib/mail.jar
