# Ignore everything
*

# But do not Ignore these files...
!.gitignore


!src
!src/**

!ban
!ban/**

!resources
!resources/**


!WebContent
!WebContent/**

!libs
!libs/**

!ban
!ban/**

!resources
!resources/**

!*.txt
!*.md
!*.jpg
!*.png
!*.html


# MAC HIDDEN FILES
.DS_Store


#Additional Specific files to Ignore
src/models/config.cfg
!WebContent/lib/mail.jar
