/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  
  background-color: rgba(255, 232, 149, 0.79);
  background-position: center;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
  display: flex;
  justify-content: center;
}

form {
  width: 35em;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

input[type=text], select {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 70%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input[type=radio] {
  margin: .5em 1.4em;
  display: flex;
  flex-flow: row nowrap;
}

.rad_btns {
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}
.rad {
    display: flex;
    justify-content: flex-start;
    margin: .2em;
}

label {
    
}